/**
 * Sample Sift Stylus
 */
@import "@redsift/ui-rs-core/dist/css/ui-rs-core.min.css"

body, html {
  height: 100%;
}

body {
  padding-left: 1em;
  padding-right: 1em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notConfigured {
  display: none;
  align-item: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

#configured {
  display: none;
}